@import "tailwindcss";

body {
  background-color: rgb(19, 0, 32);
  color: white;
  scroll-behavior: smooth;
}

/* Scrollbar Base */
body::-webkit-scrollbar {
  width: 6px;
}

/* Scrollbar Track */
body::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
}

/* Scrollbar Thumb */
body::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #381B5F, #6933A8);
  border-radius: 20px;
  transition: all 0.3s ease;
}

/* Hover effect on scrollbar */
body::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #6933A8, #9A4DFF);
  box-shadow: 0 0 8px #9A4DFF;
}

/* Active (while scrolling) */
body:active::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #9A4DFF, #C879FF);
}
